In [1]:
import pandas as pd

In [16]:
ret = pd.read_csv('return_data.csv', index_col='Date', parse_dates=True)
ret

,ret_Fund,ret_AAPL,ret_APTV,ret_BAC,ret_BALL,ret_BEP,ret_BKNG,ret_BMRN,ret_COST,ret_CVS,...,ret_ETN,ret_GOOGL,ret_HD,ret_HIG,ret_MS,ret_MSFT,ret_PLD,ret_TT,ret_UNH,ret_V
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-11-30,0.052900,0.077120,0.159186,0.118742,0.118190,-0.071509,0.009694,-0.094474,0.119438,-0.021463,...,0.144820,0.194997,0.159235,0.001562,0.093981,0.236248,0.098972,0.155603,-0.028446,0.136262
2015-12-31,-0.012727,-0.110228,-0.024465,-0.031705,0.047681,0.043027,0.020899,0.098459,0.000495,0.039111,...,-0.105227,0.019873,-0.007803,-0.047765,-0.072595,0.020791,0.013632,-0.052647,0.048249,-0.018479
2016-01-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31,0.066239,0.109551,0.164429,0.193378,0.022144,-0.067732,0.137700,0.021942,0.063810,-0.001031,...,0.125300,-0.011918,0.073168,0.169035,0.050081,-0.003306,0.090059,0.102341,0.099220,0.166113
2022-11-30,0.063492,-0.033027,0.171297,0.050222,0.139616,-0.019649,0.112315,0.165647,0.075274,0.075818,...,0.094764,0.068564,0.100699,0.060633,0.132652,0.102223,0.063567,0.117710,-0.013312,0.049841
2022-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-01-31,0.006648,-0.025265,0.060186,-0.057135,0.038516,0.030399,0.170550,0.142305,-0.052128,-0.128099,...,-0.007586,-0.021289,0.000556,0.016237,0.054207,-0.028729,0.104907,0.007707,-0.085861,0.060876
2023-02-28,-0.027779,0.023183,0.028208,-0.033258,-0.031403,-0.092448,0.036934,-0.136628,-0.051096,-0.053049,...,0.078417,-0.088830,-0.085233,0.008633,-0.008528,0.009018,-0.045483,0.032660,-0.046575,-0.042740

In [17]:
ret.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 90 entries, 2015-09-30 to 2023-02-28
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ret_Fund   89 non-null     float64
 1   ret_AAPL   89 non-null     float64
 2   ret_APTV   89 non-null     float64
 3   ret_BAC    89 non-null     float64
 4   ret_BALL   89 non-null     float64
 5   ret_BEP    89 non-null     float64
 6   ret_BKNG   89 non-null     float64
 7   ret_BMRN   89 non-null     float64
 8   ret_COST   89 non-null     float64
 9   ret_CVS    89 non-null     float64
 10  ret_DE     89 non-null     float64
 11  ret_ETN    89 non-null     float64
 12  ret_GOOGL  89 non-null     float64
 13  ret_HD     89 non-null     float64
 14  ret_HIG    89 non-null     float64
 15  ret_MS     89 non-null     float64
 16  ret_MSFT   89 non-null     float64
 17  ret_PLD    89 non-null     float64
 18  ret_TT     89 non-null     float64
 19  ret_UNH    89 non-null     float64
 20  ret_V      89 non-null     float64
dtypes: float64(21)
memory usage: 15.5 KB

In [18]:
climate = pd.read_csv('climate_data.csv', index_col='Date', parse_dates=True)
climate

,cdd_18-France,cdd_18-Germany,cdd_18-India,cdd_18-Indonesia,cdd_18-Italy,cdd_18-Japan,cdd_18-Korea,cdd_18-China,cdd_21-France,cdd_21-Germany,...,temperature-Korea,temperature-China,precipitation-France,precipitation-Germany,precipitation-India,precipitation-Indonesia,precipitation-Italy,precipitation-Japan,precipitation-Korea,precipitation-China
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,7.58800,1.4840,313.40,233.8,81.38000,111.6000,96.93000,132.0000,1.01000,0.1795,...,20.9300,14.630,0.11920,0.09975,0.20710,0.1374,0.11980,0.2913,0.12500,0.12170
2015-10-31,0.59810,0.0000,280.10,263.1,12.73000,19.8600,3.78800,53.3700,0.03122,0.0000,...,15.8100,8.714,0.08802,0.07489,0.07536,0.1607,0.21710,0.1174,0.05756,0.06390
2015-11-30,0.01212,0.0000,169.60,256.0,0.19960,4.6010,0.07547,20.0200,0.00000,0.0000,...,11.0700,1.479,0.09623,0.14480,0.07633,0.3763,0.07189,0.2381,0.17400,0.06285
2015-12-31,0.00000,0.0000,88.83,250.7,0.00000,1.0100,0.00000,2.1780,0.00000,0.0000,...,4.8810,-4.948,0.04115,0.05815,0.03280,0.3791,0.01067,0.1822,0.07142,0.04159
2016-01-31,0.00000,0.0000,72.22,260.8,0.00000,0.5277,0.00000,1.2980,0.00000,0.0000,...,0.4863,-7.990,0.17040,0.11440,0.01849,0.3654,0.09046,0.1833,0.04826,0.04482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,137.80000,90.4000,314.80,233.5,209.60000,272.0000,231.10000,288.7000,61.70000,30.0600,...,25.4900,20.200,0.07263,0.08018,0.37570,0.3394,0.08997,0.2888,0.30510,0.14050
2022-09-30,35.78000,8.6410,292.60,231.5,92.21000,179.1000,110.00000,157.5000,9.74800,0.8835,...,21.5500,15.780,0.14050,0.15660,0.28300,0.3250,0.13590,0.2847,0.23020,0.09445
2022-10-31,7.65100,0.1096,240.10,232.9,18.49000,35.8100,12.03000,53.5500,0.47150,0.0000,...,15.0100,7.809,0.10410,0.09009,0.16600,0.4127,0.06378,0.1433,0.08650,0.06057
2022-11-30,0.06032,0.0000,132.40,229.1,1.20100,3.5860,0.47920,24.0300,0.00000,0.0000,...,10.9400,1.722,0.15560,0.08491,0.03285,0.4437,0.19710,0.1764,0.07607,0.05138
2022-12-31,0.00000,0.0000,81.37,232.2,0.03475,0.7520,0.00000,0.3955,0.00000,0.0000,...,0.8026,-6.478,0.12580,0.10390,0.03062,0.4047,0.12220,0.1639,0.03314,0.01596

In [19]:
fmf = pd.read_csv('fama_data.csv', index_col='Date', parse_dates=True)
fmf

            Mkt-RF     SMB     HML     RMW     CMA      RF
Date
2015-09-30 -0.0307 -0.0280  0.0056  0.0180 -0.0060  0.0000
2015-10-31  0.0775 -0.0205 -0.0046  0.0086  0.0055  0.0000
2015-11-30  0.0056  0.0329 -0.0042 -0.0271 -0.0103  0.0000
2015-12-31 -0.0217 -0.0297 -0.0261  0.0045  0.0003  0.0001
2016-01-31 -0.0577 -0.0348  0.0209  0.0280  0.0307  0.0001
...            ...     ...     ...     ...     ...     ...
2022-08-31 -0.0377  0.0149  0.0030 -0.0478  0.0130  0.0019
2022-09-30 -0.0935 -0.0097  0.0006 -0.0151 -0.0084  0.0019
2022-10-31  0.0783  0.0186  0.0805  0.0307  0.0652  0.0023
2022-11-30  0.0460 -0.0267  0.0138  0.0601  0.0311  0.0029
2022-12-31 -0.0641 -0.0016  0.0132  0.0009  0.0419  0.0033

[88 rows x 6 columns]

In [20]:
all_data = pd.concat([fmf, 
                      climate, 
                      ret.reindex(fmf.index)], axis=1)

In [21]:
all_data

,Mkt-RF,SMB,HML,RMW,CMA,RF,cdd_18-France,cdd_18-Germany,cdd_18-India,cdd_18-Indonesia,...,ret_ETN,ret_GOOGL,ret_HD,ret_HIG,ret_MS,ret_MSFT,ret_PLD,ret_TT,ret_UNH,ret_V
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,-0.0307,-0.0280,0.0056,0.0180,-0.0060,0.0000,7.58800,1.4840,313.40,233.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-31,0.0775,-0.0205,-0.0046,0.0086,0.0055,0.0000,0.59810,0.0000,280.10,263.1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-11-30,0.0056,0.0329,-0.0042,-0.0271,-0.0103,0.0000,0.01212,0.0000,169.60,256.0,...,0.144820,0.194997,0.159235,0.001562,0.093981,0.236248,0.098972,0.155603,-0.028446,0.136262
2015-12-31,-0.0217,-0.0297,-0.0261,0.0045,0.0003,0.0001,0.00000,0.0000,88.83,250.7,...,-0.105227,0.019873,-0.007803,-0.047765,-0.072595,0.020791,0.013632,-0.052647,0.048249,-0.018479
2016-01-31,-0.0577,-0.0348,0.0209,0.0280,0.0307,0.0001,0.00000,0.0000,72.22,260.8,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,-0.0377,0.0149,0.0030,-0.0478,0.0130,0.0019,137.80000,90.4000,314.80,233.5,...,0.090445,-0.006819,0.058453,-0.011266,0.131055,0.020227,0.058309,0.186340,0.011098,0.011031
2022-09-30,-0.0935,-0.0097,0.0006,-0.0151,-0.0084,0.0019,35.78000,8.6410,292.60,231.5,...,-0.024005,-0.116152,-0.043270,-0.036853,-0.072870,-0.109267,-0.178815,-0.055997,-0.024465,-0.105984
2022-10-31,0.0783,0.0186,0.0805,0.0307,0.0652,0.0023,7.65100,0.1096,240.10,232.9,...,0.125300,-0.011918,0.073168,0.169035,0.050081,-0.003306,0.090059,0.102341,0.099220,0.166113
2022-11-30,0.0460,-0.0267,0.0138,0.0601,0.0311,0.0029,0.06032,0.0000,132.40,229.1,...,0.094764,0.068564,0.100699,0.060633,0.132652,0.102223,0.063567,0.117710,-0.013312,0.049841
2022-12-31,-0.0641,-0.0016,0.0132,0.0009,0.0419,0.0033,0.00000,0.0000,81.37,232.2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 88 entries, 2015-09-30 to 2022-12-31
Data columns (total 99 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Mkt-RF                   88 non-null     float64
 1   SMB                      88 non-null     float64
 2   HML                      88 non-null     float64
 3   RMW                      88 non-null     float64
 4   CMA                      88 non-null     float64
 5   RF                       88 non-null     float64
 6   cdd_18-France            88 non-null     float64
 7   cdd_18-Germany           88 non-null     float64
 8   cdd_18-India             88 non-null     float64
 9   cdd_18-Indonesia         88 non-null     float64
 10  cdd_18-Italy             88 non-null     float64
 11  cdd_18-Japan             88 non-null     float64
 12  cdd_18-Korea             88 non-null     float64
 13  cdd_18-China             88 non-null     float64
 14  cdd_21-France            88 non-null     float64
 15  cdd_21-Germany           88 non-null     float64
 16  cdd_21-India             88 non-null     float64
 17  cdd_21-Indonesia         88 non-null     float64
 18  cdd_21-Italy             88 non-null     float64
 19  cdd_21-Japan             88 non-null     float64
 20  cdd_21-Korea             88 non-null     float64
 21  cdd_21-China             88 non-null     float64
 22  irradiance-France        88 non-null     int64
 23  irradiance-Germany       88 non-null     int64
 24  irradiance-India         88 non-null     int64
 25  irradiance-Indonesia     88 non-null     int64
 26  irradiance-Italy         88 non-null     int64
 27  irradiance-Japan         88 non-null     int64
 28  irradiance-Korea         88 non-null     int64
 29  irradiance-China         88 non-null     int64
 30  hdd_16-France            88 non-null     float64
 31  hdd_16-Germany           88 non-null     float64
 32  hdd_16-India             88 non-null     float64
 33  hdd_16-Indonesia         88 non-null     float64
 34  hdd_16-Italy             88 non-null     float64
 35  hdd_16-Japan             88 non-null     float64
 36  hdd_16-Korea             88 non-null     float64
 37  hdd_16-China             88 non-null     float64
 38  hdd_18-France            88 non-null     float64
 39  hdd_18-Germany           88 non-null     float64
 40  hdd_18-India             88 non-null     float64
 41  hdd_18-Indonesia         88 non-null     float64
 42  hdd_18-Italy             88 non-null     float64
 43  hdd_18-Japan             88 non-null     float64
 44  hdd_18-Korea             88 non-null     float64
 45  hdd_18-China             88 non-null     float64
 46  heat-France              88 non-null     float64
 47  heat-Germany             88 non-null     float64
 48  heat-India               88 non-null     float64
 49  heat-Indonesia           88 non-null     float64
 50  heat-Italy               88 non-null     float64
 51  heat-Japan               88 non-null     float64
 52  heat-Korea               88 non-null     float64
 53  heat-China               88 non-null     float64
 54  humidity-France          88 non-null     float64
 55  humidity-Germany         88 non-null     float64
 56  humidity-India           88 non-null     float64
 57  humidity-Indonesia       88 non-null     float64
 58  humidity-Italy           88 non-null     float64
 59  humidity-Japan           88 non-null     float64
 60  humidity-Korea           88 non-null     float64
 61  humidity-China           88 non-null     float64
 62  temperature-France       88 non-null     float64
 63  temperature-Germany      88 non-null     float64
 64  temperature-India        88 non-null     float64
 65  temperature-Indonesia    88 non-null     float64
 66  temperature-Italy        88 non-null     float64
 67  temperature-Japan        88 non-null     float64
 68  temperature-Korea        88 non-null     float64
 69  temperature-China        88 non-null     float64
 70  precipitation-France     88 non-null     float64
 71  precipitation-Germany    88 non-null     float64
 72  precipitation-India      88 non-null     float64
 73  precipitation-Indonesia  88 non-null     float64
 74  precipitation-Italy      88 non-null     float64
 75  precipitation-Japan      88 non-null     float64
 76  precipitation-Korea      88 non-null     float64
 77  precipitation-China      88 non-null     float64
 78  ret_Fund                 87 non-null     float64
 79  ret_AAPL                 87 non-null     float64
 80  ret_APTV                 87 non-null     float64
 81  ret_BAC                  87 non-null     float64
 82  ret_BALL                 87 non-null     float64
 83  ret_BEP                  87 non-null     float64
 84  ret_BKNG                 87 non-null     float64
 85  ret_BMRN                 87 non-null     float64
 86  ret_COST                 87 non-null     float64
 87  ret_CVS                  87 non-null     float64
 88  ret_DE                   87 non-null     float64
 89  ret_ETN                  87 non-null     float64
 90  ret_GOOGL                87 non-null     float64
 91  ret_HD                   87 non-null     float64
 92  ret_HIG                  87 non-null     float64
 93  ret_MS                   87 non-null     float64
 94  ret_MSFT                 87 non-null     float64
 95  ret_PLD                  87 non-null     float64
 96  ret_TT                   87 non-null     float64
 97  ret_UNH                  87 non-null     float64
 98  ret_V                    87 non-null     float64
dtypes: float64(91), int64(8)
memory usage: 68.8 KB

In [23]:
all_data.to_csv('all_data.csv')